{% extends "base.html" %}
{% block content %}
<div class="container">
<h2> Welcome to your kingdom of lesson plans</h2>
<br>
<h3>load your lesson plans here to help improve the kingdom<h3>
	<br>
	<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</div>
<br>


{% endblock %}
